<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container mt-5">
    <h1>Insert Username and Password</h1>
    <form action="/api/convertor/registration" method="post">
        <input type="text" name="username" placeholder="Insert Username">
        <input type="text" name="password" placeholder="Insert Password">
        <button type="submit">

        </button>

    </form>

</div>
</body>
</html>